@import "./variables.scss";

main {
  padding: 0 5em;
}

section {
  width: 100%;
  height: 100vh;
  display: grid;
  // justify-content: center;
  align-content: center;

  h2 {
    font-size: 32px;
  }

  .cta {
    font-family: "Roboto", sans-serif;
    font-size: 12pt;
    text-transform: uppercase;
    background: black;
    border: 2px solid black;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 8px 16px 8px 16px;
    color: white;
    font-size: 13px;
    font-style: normal;
    font-weight: 900;
    line-height: 15px;
    letter-spacing: 0.04em;
    text-align: center;
    min-width: 170px;
    max-width: 170px;

    &:hover {
      // TODO: Create a special hover effect for cta.
      cursor: pointer;
    }
  }

  .hidden {
    display: none;
  }
}

#landing div {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  gap: 0px 0px;
  grid-template-areas:
    "title title"
    "p1 p1"
    "date date"
    "link1 link2"
    "p2 p2";
  text-align: left;

  h1 {
    grid-area: title;
    width: 100%;
    font-size: 32px;
    font-weight: 700;
  }
  p:nth-of-type(1) {
    grid-area: p1;
    width: 100%;
    margin-top: 0.5em;
  }
  time {
    grid-area: date;
    width: 100%;
    margin-top: 0.5em;
  }
  a:nth-of-type(1) {
    grid-area: link1;
    width: 100%;
    margin-top: 0.25em;
  }
  a:nth-of-type(2) {
    grid-area: link2;
    width: 100%;
    margin-top: 0.25em;
    margin-left: 30px;
  }
  p:nth-of-type(2) {
    grid-area: p2;
    width: 100%;
    margin-top: 0.75em;
  }
}

#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  div {
    width: 100%;
    #stats {
      position: relative;
      display: flex;
      justify-content: center;
      flex-direction: column;
      font-size: 40px;
      line-height: 80px;
      margin-bottom: 40px;
    }
    #info {
      width: 30em;
      p {
        margin: 2em 0 2em 0;
      }
    }
  }
}

#sponsors {
  div {
    max-width: 30em;
    grid-auto-columns: fit-content(1em);
  }
  margin: auto;
  p {
    margin: 2em 0 2em 0;
  }
}

#faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  div {
    width: unset;
  }
}

.faq-container {
  width: 810px;
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  align-items: stretch;
  justify-content: space-around;
}

.faq-column {
  max-width: 400px;
  flex-shrink: 1;
  font-size: 18px;
  margin: 10px 5px 0 5px;
}

#get-updates {
  margin: auto;
  text-align: center;
  p {
    margin: 1em 0 2em 0;
  }
}
