@import "./variables.scss";

header {
  position: fixed;
  min-width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 0px 34px rgba(33, 33, 86, 0.2);

  h1 {
    padding: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 27px;
    color: #000000;
    margin-left: 2rem;
  }

  nav {
    ul {
      list-style-type: none;
      margin: 0;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      li {
        margin: 1em;
      }
    }
  }
}
